USE [BBDDTecnicas]
GO
/****** Object:  StoredProcedure [dbo].[sp_AutenticarUsuario]    Script Date: 04/06/2026 9:51:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[sp_AutenticarUsuario]
    @username VARCHAR(50),
    @contrasena CHAR(64)
AS
BEGIN
    SELECT 
        u.id_usuario,
        u.nombre,
        u.apellido,
        u.nombre_usuario,
        u.dni,
        u.correo,
        u.id_rol,
        u.contrasena,
        r.nombre_rol
    FROM usuario u
    JOIN rol r ON r.id_rol = u.id_rol
    WHERE u.nombre_usuario = @username
      AND u.contrasena = @contrasena
END
